<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WEST</display-name>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>JS001</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS001</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS002</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS002</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS003</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS003</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS004</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS004</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS005</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS005</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS006</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS006</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS007</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS007</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS008</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS008</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS009</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS009</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS010</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS010</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS011</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS011</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS012</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS012</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JS013</servlet-name>
    <servlet-class>com.indeed.security.wes.west.servlets.JS013</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS001</servlet-name>
    <url-pattern>/JS001</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS002</servlet-name>
    <url-pattern>/JS002</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS003</servlet-name>
    <url-pattern>/JS003</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS004</servlet-name>
    <url-pattern>/JS004</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS005</servlet-name>
    <url-pattern>/JS005</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS006</servlet-name>
    <url-pattern>/JS006</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS007</servlet-name>
    <url-pattern>/JS007</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS008</servlet-name>
    <url-pattern>/JS008</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS009</servlet-name>
    <url-pattern>/JS009</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS010</servlet-name>
    <url-pattern>/JS010</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS011</servlet-name>
    <url-pattern>/JS011</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS012</servlet-name>
    <url-pattern>/JS012</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JS013</servlet-name>
    <url-pattern>/JS013</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
</web-app>